body {
 background-image: url("https://thewallpapers.org/zoom/76402/rainforrest.jpg");
 background-repeat:no-repeat;
 background-size:cover;
 background-attachment:scroll;
 background-color: #cccccc;
 background-attachment: fixed;
}

h1{
  text-align: center;
  color: #f0b49c;
  font-size: 150px;
  font-family: sans-serif;
}

h2{
  color: #c94410#f0b49c;
  font-family: sans-serif;
  text-align: center;
  font-size: 80px;
}

h3{
  color: ##c94410;
  font-family: sans-serif;
}

p{
  color: #ffffff;
  font-family: sans-serif;
}

li{
  color: #ffffff;
  font-family: sans-serif;
}
