body {
 background-image: url("https://thewallpapers.org/zoom/76402/rainforrest.jpg");
 background-repeat:no-repeat;
 background-size:cover;
 background-attachment:scroll;
 background-color: #cccccc;
}

h1{
  text-align: center;
  color: #ffffff;
  font-size: 150px;
  font-family: sans-serif;
}

h2{
  color: #ffffff;
  font-family: sans-serif;
  text-align: center;
}

h3{
  color: #ffffff;
  font-family: sans-serif;
}

p{
  color: #ffffff;
  font-family: sans-serif;
}

li{
  color: #ffffff;
  font-family: sans-serif;
}
