body {
 background-image: url("https://resources.stuff.co.nz/content/dam/images/1/l/b/7/n/k/image.related.StuffLandscapeSixteenByNine.710x400.1lghu5.png/1507765642168.jpg");
 background-repeat:no-repeat;
 background-size:cover;
 background-color: #cccccc;
}

h1{
  text-align: center;
  color: #ffffff;
  font-size: 190px;
}
